.container form {
  display: flex;
  gap: 1rem;
}

.container .todoInput {
  background-color: var(--gray-500);
  border: none;
  outline: none;
  color: var(--gray-200);
  height: 3rem;
  width: 20rem;
  padding: 0 20px;
  border-radius: 8px;
}

.container button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 3rem;
  background-color: var(--blue-700);
  color: var(--gray-100);
  font-weight: bold;
  border: none;
  width: 4.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  gap: 10px;
}

.container header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tarefasCriadas {
  color: var(--blue-500);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.tarefasConcluidas {
  color: var(--purple-500);
  font-weight: bold;
}

.tarefasConcluidasSemNenhumTodo {
  color: var(--danger);
  font-weight: bold;
}

.completeCount {
  background-color: var(--gray-500);
  color: var(--gray-200);
  padding: 0 6px;
  border-radius: 2px;
  margin-left: 4px;
}

